@model IEnumerable<ColoShop.Models.New>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section OtherCss {
    <link rel="stylesheet" type="text/css" href="~/clients/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/clients/styles/responsive.css">
}

<div class="container" style="margin-top: 180px">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="p-3 mb-4" style="max-height:500px; overflow-y:auto; box-shadow: 0 1px 3px #cccccc">
                <h5>@item.Title</h5>
                <p>Post by Admin - @item.CreatedDate</p>
                <div>
                    @Html.Raw(item.Detail)
                </div>
            </div>
        }
    }
</div>

