@model IEnumerable<ColoShop.Models.ProductCategory>

<ul class="sidebar_categories">
    @if (Model != null && Model.Any())
    {
        if (ViewBag.currentCate == null)
        {
            <li class="active"><a href="#">All</a></li>
        }
        else
        {
            <li><a href="/products">All</a></li>
        }
        @foreach (var item in Model)
        {
            @if (item.Name.Equals(ViewBag.currentCate))
            {
                <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Name</a></li>
            }
            else
            {
                <li><a href="/category-@item.Name.ToLower()-@item.Id">@item.Name</a></li>
            }
        }
    }
    @*
    <li><a href="#">Accessories</a></li>
    <li><a href="#">New Arrivals</a></li>
    <li><a href="#">Collection</a></li>
    <li><a href="#">Shop</a></li>*@
</ul>
